<div class="card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between mb-4">
      <h3>
        <span>
         Editing task
        </span>
      </h3>
      <%= link_to 'Back', @project, class: 'btn btn-outline-secondary' %>
    </div>
    <%= render 'form' %>
  </div>
</div>




