body {
  background-color: #f8f9fa;
}
a {
  text-decoration: none;
}
.project-card {
  transition: background-color  0.5s ease;
  &:hover {
    background-color: #F7F7F7;
  }
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}


